body{
    background-color: rgb(214,225,255);
}

.bigBox{
    height: 600px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 20px;
}


.img1 {
    width: 100%;
    height: auto;
    display: block;
}


.txt{
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(32,46,84);   
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.paragraph{
    color: rgb(146,149,166);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    width: 350px;
    align-content: center;
}



.paragraph2{
    color: rgb(146,149,166);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

.subContent{
    background-color: rgb(248,249,254);
}

.mainBox{
    background-color: rgb(248,249,254);
    display: flex;
    align-items: center;
    gap: 20px;
    width: 350px;
}

.txt2{
    color: rgb(35,46,81);
    font-size: 20px;
    font-family: 900;
    margin-top: 15px;
    
}

.paragraph3{
    color: rgb(146,149,166);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.anchor{
    margin-left: 80px;
    color: rgb(89,75,205);
    font-weight: 700;
}

.anchor:active{
    text-decoration: none;
    cursor: pointer;
}



.btn{
    height: 50px;
    width: 300px;
    background-color: rgb(56,42,225);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}    

.btn:active{
    background-color: rgb(98, 90, 188);
    cursor: pointer;
}

.txt4{
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    color: rgb(115,125,160);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 27px;
}

.txt4:active{
    color: black;
    cursor: pointer;
}